@page "/authors/{AuthorId:long}/v1"
@using Am.Testing.Domain.Entities

@inherits BasePage
@inject IStringLocalizer<EditAuthorPageV1> Localizer
@inject MainDbContext DbContext 

<h3>EditAuthorPageV1</h3>

<RadzenCard>

    <RadzenTemplateForm Data="@item" Submit="@(async (Author args) => { await OnSubmit(args); })">

        <div class="row mb-1">
            <div class="col-xl-3 col-12">
                <RadzenLabel Text="@Localizer["FirstName"]" />
            </div>
            <div class="col-xl-6 col-12">
                <RadzenTextBox @bind-Value=@item.FirstName class="w-100" />
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-xl-3 col-12">
                <RadzenLabel Text="@Localizer["LastName"]" />
            </div>
            <div class="col-xl-6 col-12">
                <RadzenTextBox @bind-Value=@item.LastName class="w-100" />
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-xl-3 col-12">
                <RadzenLabel Text="@Localizer["FullName"]" />
            </div>
            <div class="col-xl-6 col-12">
                <RadzenTextBox @bind-Value=@item.FullName class="w-100" />
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-xl-3 col-12">
                <RadzenLabel Text="@Localizer["Biography"]" />
            </div>
            <div class="col-xl-6 col-12">
                <RadzenTextArea @bind-Value=@item.Biography class="w-100" />
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-xl-3 col-12">
                <RadzenLabel Text="@Localizer["Nationality"]" />
            </div>
            <div class="col-xl-6 col-12">
                <RadzenTextBox @bind-Value=@item.Nationality class="w-100" />
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-xl-3 col-12">
                <RadzenLabel Text="@Localizer["Photo"]" />
            </div>
            <div class="col-xl-6 col-12">
                <InputFile />
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-xl-3 col-12">
                <RadzenLabel Text="@Localizer["BirthYear"]" />
            </div>
            <div class="col-xl-6 col-12">
                <RadzenNumeric @bind-Value=@item.BirthYear class="w-100" />
            </div>
        </div>

    </RadzenTemplateForm>

</RadzenCard>

@code {

    [Parameter]
    public long AuthorId { get; set; }

    private Author? item; 

    protected override async Task OnInitializedAsync()
    {
        var found = await DbContext.Authors.FirstOrDefaultAsync(x => x.Id == AuthorId);

        if (found is not null)
        {
            item = found; 
        }

    }

    private async Task OnSubmit(Author output)
    {
        DbContext.Authors.Update(output);
        await DbContext.SaveChangesAsync();

        Navigations.NavigateTo("/authors/index");
    }
}
