@using System.Globalization
@inject NavigationManager Navigation
@inject IStringLocalizer<CultureSelector> Localizer

<RadzenCard>

    <div class="row">
        <div class="col-2">
            @Localizer["ChooseLanguage"]
        </div>

        <div class="col-2">
            <select class="form-control" @bind="Culture" style="width:400px;">
                @foreach (var culture in supportedCultures)
                {
                    <option value="@culture">@culture.DisplayName</option>
                }
            </select>
        </div>
    </div>

</RadzenCard>

@* <p>
    <label>
        Select your locale:
        <select @bind="Culture">
            @foreach (var culture in supportedCultures)
            {
                <option value="@culture">@culture.DisplayName</option>
            }
        </select>
    </label>
</p> *@

@code
{
    private CultureInfo[] supportedCultures = new[]
    {
        new CultureInfo("en-US"),
        new CultureInfo("sk-SK"),
    };

    protected override void OnInitialized()
    {
        Culture = CultureInfo.CurrentCulture;
    }

    private CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var uri = new Uri(Navigation.Uri)
                    .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
                var cultureEscaped = Uri.EscapeDataString(value.Name);
                var uriEscaped = Uri.EscapeDataString(uri);

                Navigation.NavigateTo(
                    $"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}",
                    forceLoad: true);
            }
        }
    }
}